---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import type { GetStaticPaths } from 'astro';

export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await getCollection('blog', ({ data }) => !data.draft);
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <article>
    <header>
      <time datetime={post.data.publishDate.toISOString()}>
        {post.data.publishDate.toLocaleDateString('en-CA', { year: 'numeric', month: 'long', day: 'numeric' })}
      </time>
      <h1>{post.data.title}</h1>
      {post.data.author && <p>By {post.data.author}</p>}
      {post.data.tags.length > 0 && (
        <ul>
          {post.data.tags.map((tag) => (
            <li><a href={`/tags/${tag}`}>{tag}</a></li>
          ))}
        </ul>
      )}
    </header>
    <div>
      <Content />
    </div>
  </article>
</BaseLayout>
